
<head>
	<style>
		.header {
			
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</head>


<body>

	<div class="header">
  		<h2>Blog Name</h2>
  		<h5><a href="{% url 'blog:index' %}">Home</a></h5>
	</div>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<ul>
		{% for post in posts_list %}
			<div class="card">
      			<h2><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h2>
      			<h5>Posted on: {{ post.created_on }}</h5>
      			<div class="fakeimg" style="height:100px;">Image</div>
    		</div>
		{% endfor %}
	</ul>

</body>